.list{
    display: block;
    width: 180px;
    padding: 0 20px;
    height: 100vh;
}
.listHeader{
    position: fixed;
    width: 50%;
    display: block;
}

.listCity{
    height: 90%;
    width: 180px;
    margin-top: 70px;
    display: block;
    overflow-y: auto;
}

.listCityName{
    display: flex;
    width: 90%;
    cursor: pointer;
    justify-content: center;
    border-radius: 10px;
    font-size: 1.6rem;
    border: 1px solid rgb(133, 41, 151);
    margin-right: 30px;
}
.listCityName:hover{
    opacity: 0.7;
    background-color: rgb(175, 175, 175);
    cursor: pointer;
}

@media screen and (max-width: 720px) {
    .list{
        display: flex;
        width: 100%;
        height: 40vh;
    }
    .listHeader{
        position: fixed;
        display: block;
    }
    .listCity{
        height: 90%;
        margin-top: 120px;
        display: block;
        overflow-y: auto;
        width: 100%;
    }
}